## Calculating the Risk of a Security

The Microsoft (‘MSFT’) and Apple ('AAPL') data is downloaded from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']

In [3]:
returns = np.log(data / data.shift(1))
returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088077
2000-01-05  0.010489  0.014527
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
...              ...       ...
2022-08-31 -0.005720 -0.010692
2022-09-01 -0.004101  0.004696
2022-09-02 -0.016807 -0.013705
2022-09-06 -0.011035 -0.008249
2022-09-07  0.018931  0.009211

[5707 rows x 2 columns]

### MSFT

In [7]:
print("Daily risk: ", returns['MSFT'].std())
print("Annual risk: ", returns['MSFT'].std() * 250 ** 0.5)

Daily risk:  0.019310983934010616
Annual risk:  0.3053334654519613

### Apple

In [5]:
print("Daily risk: ", returns['AAPL'].std())
print("Annual risk: ", returns['AAPL'].std() * 250 ** 0.5)

Daily risk:  0.026031627308730532
Annual risk:  0.41159616748113836

Store the volatilities of the two stocks in "vols".

In [8]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.305333
AAPL    0.411596
dtype: float64