## Calculating Portfolio Risk

I will be calculating the risk of an equally weighted portfolio composed of Microsoft and Apple. The data is obtained from Yahoo Finance for the period 1st of January 2007 until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                  MSFT        AAPL
Date
2022-08-31  261.470001  157.220001
2022-09-01  260.399994  157.960007
2022-09-02  256.059998  155.809998
2022-09-06  253.250000  154.529999
2022-09-07  258.089996  155.960007

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079799
...              ...       ...
2022-08-31 -0.005720 -0.010692
2022-09-01 -0.004101  0.004696
2022-09-02 -0.016807 -0.013705
2022-09-06 -0.011035 -0.008249
2022-09-07  0.018931  0.009211

[3948 rows x 2 columns]

## Risk

In [6]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.156863
AAPL    0.260412
dtype: float64

In [7]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.281711
AAPL    0.321003
dtype: float64

## Covariance and Correlation

In [12]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000317  0.000204
AAPL  0.000204  0.000412

## Calculating Portfolio Risk

Equal weigthing scheme:

In [8]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [9]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.07114802107985647

Portfolio Volatility:

In [11]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
print (str(round(pfolio_vol, 5) * 100) + ' %')

26.674 %